body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #4285f4;
    color: white;
    text-align: center;
    padding: 1em 0;
  }

  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  h2 {
    color: #4285f4;
  }

  h2 {
    border-bottom: 2px solid #4285f4;
    padding-bottom: 5px;
  }

  p {
    line-height: 1.6;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 5px;
  }

  .experience {
    margin-top: 20px;
  }

  .experience h3 {
    color: #4285f4;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #4285f4;
    color: white;
  }
  .portfolio {
    margin-top: 20px;
  }

  .portfolio h2 {
    color: #4285f4;
  }

  .project {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }